* {padding: 0;
margin: 0;
box-sizing: border-box;}

.headerTop {
    background-color: pink;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: rgb(153, 0, 153);
}
.container {
    width: 100%;
    max-width: 1120px;
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header {
    border: 0.5px solid rgb(255, 199, 254);
}
.headerTop .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerSecond {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.headerSecond .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(139, 34, 238);
}   
.logo img {
    width: 1.5rem;
}
.headerSecondRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
   
}
.headerSecond a {
    text-decoration: none;
    color: violet;
}
#menuButton {
    background-color: transparent;
    border: none;
    color: rgb(90, 0, 128);
}
.languageSelect {
    display: none;
  
}
.headerCenterSearch {
    display: none;
}

.headerCenterSearch .box {
    border: none;
}



@media only screen and (min-width: 800px) {
   
    .headerTop .container{
        justify-content: space-between;
    }
    .languageSelect{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .25rem;}

    }


  .languageSelect img {
    width: 16px;

  }
  





@media only screen and (min-width: 600px) {
    #menuButton{
        display: none;
    }

  }
  @media only screen and (min-width: 800px) {
    .headerCenterSearch  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid grey;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 12px;
        width: 30%;
       ;
    
        
    
    
        
      }

  }
